* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  text-align: center;
}
.title{
  color: rgba(8, 7, 7, 0.863);
}

hr{
  background-color: #6c696951;
  
  width: 100%;
  margin: 16px auto;
}

.container {
  background-color: #fff;
  padding: 32px;
  flex: 1;
  flex-direction: column;
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
  align-items: center;
 
}
.genre{
  display: flex;
  background-color: rgba(255, 255, 255, 0.295);
  padding: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  box-shadow: -0px -0px 40px 0.2px  rgba(19, 19, 19, 0.291);
  width: 100%;
  height: 400px;
}
.wrapper{
 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.textWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  gap: 0.8em;
}
.textWrapper h4{
  color: rgb(55, 53, 53);
  font-weight: 400;
}
.movies{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  width: 100%;
 margin-top: 24px;
}

.movie{
  border-radius: 12px;
  padding: 8px 24px;
  background-color: rgba(130, 215, 33, 0.812);
  max-width: 300px;
  width: 300px;
  height: 200px;
  max-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: -0px -0px 4px 0.5px  rgba(19, 19, 19, 0.291);
}
.logo{
  cursor: pointer;
}
.navWrapper{
  display: flex;
  justify-content: space-between;
}
nav{
  padding: 24px 100px;
  background-color: rgba(0, 0, 0, 0.96);
  color: #fff;
  position: sticky;
  width: 100%;
  
}

ul{
  display: flex;
  gap: 16px;
  font-weight: 600;
  list-style: none;
}

li{
 cursor: pointer;
}

.movieTitle{
  background-color: #d0c7c79e;
  width: 100%;
 font-weight: 600;
 border-radius: 12px;
 align-items: flex-start;
 justify-content: center;
color: rgb(66, 60, 60);
 flex-direction: column;
 display: flex;
 padding:8px;
 line-height: 1.2rem;
}